:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --dark-red: #8d0000;
  --ligth-red: #ff0000;
}

 body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

